  <div class="hour_details_left">
      <h3>Student:</h3>
      <img class="icon" src="<%= hour.user.picture_url %>"></img>
      <%= link_to hour.user.first_name, hour.user %>
  </div>
  <div class="hour_details_right">
      <h3>Teacher:</h3>
      <% if hour.teacher %>
          <img class="icon" src="<%= hour.teacher.picture_url %>"></img>
          <%= link_to hour.teacher.first_name, hour.teacher %>
      <% else %>
          (Teacher has not logged notes yet.) 
      <% end %>
  </div>
