<div id="inner_main_container">
     <div id="mission_statement">
         <h1>
            Mission: Give children <span class="emph">900 hours</span> of computer science <br/>
            education <span class="emph">before they graduate</span> high school. 
         </h1>
     </div>
     <br/>
     <br/>
     <br/>
    <div class="row">
        <div class="row_text">
            <h3>But why?</h3>
            <p>The short answer: We can't afford not to.  And feel free to share any of the infographics on the right with any of your friends who don't already know this.</p>
            <p>The American economy will produce 75,880 computing jobs every year during our current decade.  Our schools produces fewer than 38,000 Computer Science Bachelor's degrees every year.  Fewer than 22,000 American students take the Computer Science AP test.</p>
            <p>We cannot afford to neglect computer science -- the backbone of high technology and cutting-edge science.  Over half of the future STEM jobs will be in computer science.</p>
        </div>
        <img class="infographic" src="<%= asset_path 'InfoGraphicJobs.png' %>"></img>
    </div>
    <div class="row">
        <div class="row_text">
            <h3>Can't our schools handle this?</h3>
            <p>Improving the schools never hurts.  But we need to move faster than that.</p>
            <p>There exists a $39,000-dollar gap between what school teachers earn and what the average software developer earns.  Thus, it is hard to lure qualified software developers into teaching positions.  (If every fluent Spanish speaker could make $90,530 per year, we'd probably have trouble getting Spanish taught in schools too.)</p>
            <p>For the time being, we'll have to resort to other solutions... like this website.</p>
        </div>
        <img class="infographic" src="<%= asset_path 'InfoGraphicMoney.png' %>"></img>
    </div>
    <div class="row">
        <div class="row_text">
            <h3>Okay, so how does this website help?</h3>
            <p>This website is an educational funding platform that brings donors, instructors, and students into a direct and transparent relationship.  Unlike, say, the relationship your tax dollars have with the American school system.</p>
            <p>Suppose you have a couple of dollars left over at the end of the month, and you want to change the world.  Make a tax-deductible donation on our home page.  We'll show you exactly which hours of education (and which students) your dollars have funded.  You'll get to see student and instructor notes for that hour, so you'll know exactly what impact you made on the world.</p>
        </div>
        <img class="infographic" src="<%= asset_path 'InfoGraphicTaxes.png' %>"></img>
    </div>

    <div class="row">
        <div class="row_text">
            <h3>What if I'm a parent of a student who wants to learn to code?</h3>
            <p>In our Beta launch, we are accepting applications for 50 American female students between the ages of 8 and 18.  So click the "Sign Up" link.  Go to your profile page.  And click the button that looks like this: <br/><button class="button">Apply As a Student</button>
            </p>
            <p>We'll contact you by email to complete your application.</p>
            <p>Women are a highly underrepresented minority in the field of computing.  Only 18% of Computer Science AP tests were take by girls last year.  This is why we're only accepting female students during our Beta launch.</p>
        </div>
        <img class="infographic" src="<%= asset_path 'InfoGraphicAPTests.png' %>"></img>
    </div>


    <div class="row">
        <div class="row_text">
            <h3>What's so special about the number 900?</h3>
            <p>It's well-known that 10,000 hours of deliberate practice is one key to achieving expertise in a field.  We picked a number of hours that is a non-trivial fraction of 10,000, but which can be achieved by anyone below the age of 18.</p>
            <p>You can get 900 hours of practice in less than a year, if you're able to dedicate 20 hours per week -- i.e. just two hours every weekday for 45 weeks.</p>
            <p>Or you can spread the hours of practice out over 10 years, just spending a couple of hours every weekend.</p>
        </div>
        <img class="infographic" src="<%= asset_path 'InfoGraphic900Hours1.png' %>"></img>
    </div>

    <div class="row">
        <div class="row_text">
            <h3>If accepted, how will my child earn an hour of education?</h3>
            <p>If we accept a student's application, we'll work with students and parents to schedule practice hours with qualified instructors in your area.  We'll also help you locate educational summer camps and weekend opportunities.  And we'll use donations to help parents pay for these educational hours.</p>
            <p>We'll work with instructors to keep track of every hour of education your child receives.  We'll monitor your child's progress and make sure that your child receives the best possible computer science education.</p>
        </div>
        <img class="infographic" src="<%= asset_path 'InfoGraphic900Hours2.png' %>"></img>
    </div>

</div>
