/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


        body{
          background: black;
          padding: 0px;
          margin: 0px;
          font-family: Helvetica;
        }
  
        #top_bar{
          background: #270145;
          width: 100%;
          height: 75px;
          border-bottom: 3px solid white;
        }

        #logo{
          width: 170px;
          height: 170px;
          position: absolute; 
          top: 0px;
          left: 20px;
        }

        #nav_links{
          color: purple;
          float: right;
          margin-right: 20px;
          margin-top: 50px;
          font-size: 18pt;
        }

        #nav_links li{
          float: left;
          margin-left: 20px;
          color: #8f00fd;
        }

        #nav_links li a{
          color: white;
          text-decoration: none;
        }

        #glow_image{
          position: absolute;
          top: 0px;
          right: -1px;
        }

        #main_container{
          width: 960px;
          height: 100%;
          margin: auto auto auto auto;
          padding-top: 20px;
        }

#inner_main_container{
  border: 3px solid white;
  position: relative;
  top: 100px;
  width: 860px;
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
  height: auto;
  overflow: hidden;
}

#error_popup{
  background-color: black;
  color: white;
  padding: 50px;
  width: 500px;
  text-align: left; 
}

a{
  color: #8f00fd;
}

a:visited{
  color: #8f00fd;
}

.button {
  -moz-box-shadow:inset 0px 1px 0px 0px #000000;
  -webkit-box-shadow:inset 0px 1px 0px 0px #000000;
  box-shadow:inset 0px 1px 0px 0px #000000;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #8f00fd), color-stop(1, #140014) );
  background:-moz-linear-gradient( center top, #8f00fd 5%, #140014 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#8f00fd', endColorstr='#140014');
  background-color:#8f00fd;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border:1px solid white;
  display:inline-block;
  color:#ffffff;
  font-family:arial;
  font-size:15px;
  font-weight:bold;
  padding:6px 24px;
  text-decoration:none;
  text-shadow:1px 1px 0px #000000;
}.button:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #140014), color-stop(1, #8f00fd) );
  background:-moz-linear-gradient( center top, #140014 5%, #8f00fd 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#140014', endColorstr='#8f00fd');
  background-color:#140014;
}.button:active {
  position:relative;
  top:1px;
}
